.title_cont{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

}

.projects_cont{

    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;

}